---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

import { SITE_NAME } from "@/data/constants"

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: SITE_NAME }}>
	<section>
		<p class="mb-4">
      This site contains some of the longer code snippets that I frequently use.
      <br />
      Each snippet includes a title, description, some tags and the snippet itself.
      <br />
      Built with <a href="https://astro.build/" rel="noreferrer noopener" target="_blank" class="sm:hover text-link">astro</a>.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
